[
  {rabbit, [
    {loopback_users, []},
    {tcp_listeners, []},
    {ssl_listeners, [5671]},
    {ssl_options, [
      {cacertfile, "/ssl/cacertfile.pem"},
      {certfile, "/ssl/certfile.pem"},
      {keyfile, "/ssl/keyfile.pem"},
      {verify, verify_peer},
      {fail_if_no_peer_cert, true},
      {secure_renegotiate, true},
      {reuse_sessions, true},
      {versions, ['tlsv1.2', 'tlsv1.1', 'tlsv1']},
      {dhfile, "/opt/dh-params.pem"},
      {ciphers, ["ECDHE-ECDSA-AES256-GCM-SHA384","ECDHE-RSA-AES256-GCM-SHA384","ECDHE-ECDSA-AES256-SHA384",
        "ECDHE-RSA-AES256-SHA384", "ECDHE-ECDSA-DES-CBC3-SHA", "ECDH-ECDSA-AES256-GCM-SHA384",
        "ECDH-RSA-AES256-GCM-SHA384","ECDH-ECDSA-AES256-SHA384", "ECDH-RSA-AES256-SHA384","DHE-DSS-AES256-GCM-SHA384",
        "DHE-DSS-AES256-SHA256","AES256-GCM-SHA384","AES256-SHA256","ECDHE-ECDSA-AES128-GCM-SHA256",
        "ECDHE-RSA-AES128-GCM-SHA256","ECDHE-ECDSA-AES128-SHA256","ECDHE-RSA-AES128-SHA256",
        "ECDH-ECDSA-AES128-GCM-SHA256","ECDH-RSA-AES128-GCM-SHA256","ECDH-ECDSA-AES128-SHA256",
        "ECDH-RSA-AES128-SHA256","DHE-DSS-AES128-GCM-SHA256","DHE-DSS-AES128-SHA256","AES128-GCM-SHA256",
        "AES128-SHA256","ECDHE-ECDSA-AES256-SHA","ECDHE-RSA-AES256-SHA","DHE-DSS-AES256-SHA","ECDH-ECDSA-AES256-SHA",
        "ECDH-RSA-AES256-SHA","AES256-SHA","ECDHE-ECDSA-AES128-SHA","ECDHE-RSA-AES128-SHA","DHE-DSS-AES128-SHA",
        "ECDH-ECDSA-AES128-SHA","ECDH-RSA-AES128-SHA","AES128-SHA"]
      }
    ]},
    {ssl_handshake_timeout, 10000},
    {vm_memory_high_watermark, 0.4},
    {auth_backends, [
      rabbit_auth_backend_internal,
      rabbit_auth_backend_cache
    ]}
  ]},
  %% Under a heavy load rabbit_auth_backend_ldap plugin can put a higher than expected amount of load on it's backing LDAP service
  %% it recommended to use it together with rabbitmq_auth_backend_cache with a reasonable caching interval (e.g. 2-3 minutes).
  {rabbitmq_auth_backend_cache, [
    {cached_backend, rabbit_auth_backend_ldap},
    {cache_ttl, 180000}
  ]},
  {rabbitmq_auth_backend_ldap, [
    {servers, ["<LDAP_SERVER>"]},
    {use_ssl, <LDAP_SSL>},
    {port, <LDAP_PORT>},
    {timeout, 15000},
    {log, false},
    {user_dn_pattern, "${username}@OME.local"},
    {dn_lookup_attribute, "userPrincipalName"},
    %% DON'T change the placeholders manually, they will be filled with a script at launch
    {dn_lookup_base, "<LDAP_DN_LOOKUP_BASE>"},
    {group_lookup_base, "<LDAP_GROUP_LOOKUP_BASE>"},
    {dn_lookup_bind, {"<LDAP_BIND_USER>", "<LDAP_BIND_PASS>"}},
    {vhost_access_query, {in_group_nested, "<LDAP_USER_ACCESS_GROUP>", "member"}},
    {tag_queries, [
      {administrator, {in_group_nested, "<LDAP_ADMIN_GROUP>", "member"}},
      {management, {in_group_nested, "<LDAP_ADMIN_GROUP>", "member"}}
    ]}
  ]},
  {prometheus, [
    {rabbitmq_exporter, [
      {path, "/metrics"},
      {connections_total_enabled, true}
    ]}
  ]}
].
